
  body {
    background-color: lightgray;
}

h1 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

h3 {
     color: rgb(12, 173, 167);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}



p {
   font-family: sans-serif;
   font-size: 40
}
.div{padding: 20px; 
  width: 300px;
  resize: both;
  overflow: auto;

}
.container {
  background-color: white;
}

.navbar {
         padding-left: 50px;
}



.navbar-brand {display: inline-block;
  padding:10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background:rgb(12, 173, 167);
  color: white;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: rgb(12, 173, 167);
}

  .navbar-brand {
                 background-color: white;
                 font-family: times new roman;
                 font-weight: bold;
                 color: rgb(12, 173, 167);
}
